LARGE_MODEL="Qwen/Qwen2.5-3B-Instruct"
SMALL_MODEL="Qwen/Qwen2.5-3B-Instruct"
EMBEDDING_MODEL="all-MiniLM-L6-v2"
MONGODB_URI="<mongoDB_URI>"
MONGODB_DB="ookb_benchmark"
MONGODB_EMBEDDING_COLLECTION="chunk_embeddings"
MONGODB_QUESTIONNAIRE_COLLECTION="questionnaire"
MONGODB_EVALUATION_COLLECTION="evaluation_results"
MONGODB_METRICS_COLLECTION="metrics"
MONGODB_LOGIN_COLLECTION="users"
